<!DOCTYPE html>
<html lang="en">

<head>
    <title>header part</title>
</head>

<body>
 <% if (id) { %>
     <h2>Welcome </h2>
        <form action="/logout" method="POST">
            <input type="submit" value="logout">
        </form>
   <% } else { %>


            <% } %>

</body>

</html>