<!DOCTYPE html>
<html lang="en">

<head>
  <title>ToDOListProject</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="styles/normalize.css">
  <link rel="stylesheet" href="styles/lists.css">
  <link rel="stylesheet" href="styles/style.css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro|Fira+Sans" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <div class="container">
    <header>
      <nav>
        <ul>
          <li>
            <a href="/">To do list</a>
          </li>
          <li>
            <a href="/login">Login</a>
          </li>
          <li>
            <a href="/register">register</a>
          </li>
          <li>
            <a href="/profile">Profile</a>
          </li>
        </ul>
      </nav>
    </header>
    <% include partials/_header %>
      <div class="form-body">
        <h2>Add your to do list:</h2>
        <form action="/todo/add" method="POST" class="form-content" id="add-form">
          <label for="description" class="label">Description:</label>
          <input type="text" name="description" value="" id="description-content" class="list-input" required>
          <label for="duration" class="label">Duration:</label>
          <input type="text" name="duration" value="" id="duration-content" class="list-input" required>
          <label for="status" class="label">Status:</label>
          <div class="checkbox">
            <label for="todo">Todo</label>
            <input type="radio" name="todo" id="todo" value="todo">
            <label for="doing">Doing</label>
            <input type="radio" name="todo" id="doing" value="doing">
            <label for="done">Done</label>
            <input type="radio" name="todo" id="done" value="done">
          </div>

          <div class="add-cancel-button">
            <button type='submit' id="add-button">Save</button>
            <button type='reset' id="cancel-button">Cancel</button>
          </div>
        </form>
      </div>
      <div class="row all-lists-container">
        <svg viewBox="0 0 0 0" style="position: absolute; z-index: -1; opacity: 0;">
  <defs>
    <linearGradient id="boxGradient" gradientUnits="userSpaceOnUse" x1="0" y1="0" x2="25" y2="25">
      <stop offset="0%"   stop-color="#27FDC7"/>
      <stop offset="100%" stop-color="#0FC0F5"/>
    </linearGradient>

    <linearGradient id="lineGradient">
      <stop offset="0%"    stop-color="#0FC0F5"/>
      <stop offset="100%"  stop-color="#27FDC7"/>
    </linearGradient>

    <path id="todo__line" stroke="url(#lineGradient)" d="M21 12.3h168v0.1z"></path>
    <path id="todo__box" stroke="url(#boxGradient)" d="M21 12.7v5c0 1.3-1 2.3-2.3 2.3H8.3C7 20 6 19 6 17.7V7.3C6 6 7 5 8.3 5h10.4C20 5 21 6 21 7.3v5.4"></path>
    <path id="todo__check" stroke="url(#boxGradient)" d="M10 13l2 2 5-5"></path>
    <circle id="todo__circle" cx="13.5" cy="12.5" r="10"></circle>
  </defs>
</svg>
        <div class="lists" id="movie">
          <h2>movie</h2>
        </div>
        <div class="lists" id="book"><h2>book</h2></div>
        <div class="lists" id=restaurant><h2>restaurant</h2></div>
        <div class="lists" id="product"><h2>product</h2></div>
      </div>
  </div>
  </div>
</body>

</html>
