<!DOCTYPE html>
<html lang="en">

<head>
  <title>ToDOListProject</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="styles/normalize.css">
   <link rel="stylesheet" href="styles/style.css">
   <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

</head>

<body>
   <% include partials/_header %>
  <div class="container">
    <header>
      <nav>
        <ul>
          <li>
            <a href="/">To do list</a>
          </li>
          <li>
            <a href="/login">Login</a>
          </li>
          <li>
            <a href="/register">register</a>
          </li>
          <li>
            <a href="/profile">Profile</a>
          </li>
        </ul>
      </nav>
    </header>
    <div class="lists-header">

      <h3>Add a stuff</h3>
    </div>
    <form action="/todo/add" method="POST" class="form-content">
      <div>
        <label for="description">Description:</label>
        <input type="text" name="description" value="" id="description-content" required>
      </div>
      <div>
        <label for="duration">Duration:</label>
        <input type="text" name="duration" value="" id="duration-content" required>
      </div>
      <div>
        <label for="status">Status:</label>
        <div class="checkbox">
          <label for="todo">todo</label>
          <input type="radio" name="todo" id="todo" value="todo">
          <label for="doing">doing</label>
          <input type="radio" name="todo" id="doing" value="doing">
          <label for="done">done</label>
          <input type="radio" name="todo" id="done" value="done">
        </div>
      </div>
      <button type='submit' id="add-button">Add</button>
    </form>
    <div class="row all-lists-container">
      <div class="col">

      movie
      </div>
      <div class="col">book</div>
      <div class="col">resturant</div>
      <div class="col">product</div>
    </div>
  </div>
  </div>
</body>

</html>
