<!DOCTYPE html>
<html lang="en">
 <head>
   <meta charset="UTF-8">
   <title>Home Page</title>
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="styles/normalize.css">
   <link rel="stylesheet" href="styles/style.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro|Fira+Sans" rel="stylesheet">
   <!-- <link rel="stylesheet" href="css/register.css">
   <link rel="stylesheet" href="css/body.css"> -->
  <!--  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
   <link rel="stylesheet" href="/styles/layout.css" type="text/css" /> -->

   <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
   <script type="text/javascript" src="/scripts/app.js"></script>
 </head>

 <body>
   <div class="container">
      <header>
           <nav>
               <ul>
                    <li>
                       <a href="/">To do list</a>
                   </li>
                   <li>
                       <a href="/login">Login</a>
                   </li>
                   <li>
                       <a href="/register">register</a>
                   </li>
                   <li>
                       <a href="/profile">Profile</a>
                   </li>

               </ul>
           </nav>
       </header>
       <div class="form-body">

           <form id='register-form' action="/register" method='POST' class="form-body">
               <h2>Edit Your Form</h2>
               <div id="category">
            <select>
              <option value="0">select a category: </option>
              <option value="1">Movies</option>
              <option value="2">Books</option>
              <option value="3">Restaurant</option>
              <option value="4">Products</option>
            </select>
          </div>
               <input type="email" name="email" placeholder="Email" required>
               <input type="password" name="password" placeholder="Password" required>
               <button type='submit' value="register">Register</button>
           </form>

           <ul>
       <li>description: ${$description}duration: ${$duration}status: ${$status} <a href="/users/:id/edit">Edit
          </a></li>
      </ul>

       </div>
   </div>
 </body>
</html>